.card {
    padding: 30px;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, .1);
    background: #fff;
    transition: transform .1s ease-in-out;

    &-heading {
        font-size: 14px;
        font-weight: 700;
        padding-bottom: 4px;
        border-bottom: 1px solid #e3e3e3;
        display: flex;
        justify-content: space-between;
        color: #333;
    }

    &-total-time {
        color: #dd3333;
    }

    &-body {
        padding-top: 12px;
        font-size: 14px;
        color: #666;
    }
}

.card-stack {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;

    &.stack {
	max-width: 400px;	

        .card + .card {
            margin-top: -12px;
        }

        .card-body {
            display: none;
        }

        .card:hover {
            transform: translate(6px, -6px);

            .card-body {
                display: block;
            }
        }
    }

    &.grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 12px;

        .card + .card {
            margin-top: 0;
        }
    }
}
